/* *{
    vertical-align: middle;
} */
#TopLevel{
 border:1px solid black; height:50px; background-color:#aaaa22; color:red; text-align: center;
 vertical-align: middle;
}
#SeeAmong{
 border:1px solid skyblue; height:50px; background-color:#5566ee; text-align: center;
 vertical-align: middle;
}
#SameLine{
    display: flex; padding-top: 0px; height: 200px; position: relative; padding: auto;
}
#SectionPlusArticle{
    width: 50%; height: 200px; background-color: #eeff00; margin-top: 0px;
}
#BigPart{
    height: 100px; background-color: #5566ee; margin-top: 0;
}
#Information{
     height: 100px; background-color: #aaaa22;
}
#AtRightSide{
    position: relative;
}
#JustForHelp{
    background-color: pink; height: 100px; align-items: center;
}
